body {
  font-family: 'Noto Sans JP', sans-serif;
}

p {
  font-size: 1.4rem;
}

[data-display ="hidden"] {
  display: none;
}

[data-display ="shown"] {
  display: block;
}

#date-validation {
  font-size: small;
  font-style: italic;
  color: #ff0f0f;
}

.book-names-column {
    margin-left: 15px !important;

}
.btn {
  margin: 20px 5px;
}

#clear-search.btn  {
  background-color: #ef5350;
}
.collection{
  border: none !important;
}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.7rem;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.1rem;
}

main {
  min-height: 65vh;
}

.cover-card {
  max-width: 36rem;
  min-width: 30rem;
  margin-left: 15px !important;
  border: solid 1px #efefef;

}
.form-card {
  max-width: 36rem;
  min-width: 30rem;
  margin-left: 15px !important;
  border: solid 1px #efefef;
  padding: 25px;
}


.p-left-130 {
  padding-left: 130px;
}
input {
  text-align: left;
}
span.badge.new:after {
  content: "" !important;
}

span.badge.new:before {
  content: "RANK-" !important;
}

span.badge.new {
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 6px;
}

span.badge {
  min-width: 3.2rem;
  padding: 10px;
  line-height: 1.2rem;
  height: 36px;
}

.card {
  max-width: 36rem;
  min-width: 30rem;
}
.card-title a {
  color: #26a69a;
  font-weight: 400;
}

.card-title a:hover {
  color: #fff;
  font-weight: 400;
}

.blue-lighten-2 {
  color: #64b5f6;
}
.dropdown-content li > a, .dropdown-content li > span {
    color: #289af8;
    text-align: left;
    font-weight: 400;

}
.title3 {
  padding: 10px 0;
  border-bottom: #64b5f6 solid .02rem;
}


@media (min-width: 575.98px) {  


}